[submodule "anime-relations"]
	path = deps/data/anime-relations
	url = https://github.com/erengy/anime-relations.git

[submodule "anisthesia"]
	path = deps/src/anisthesia
	url = https://github.com/erengy/anisthesia.git

[submodule "anitomy"]
	path = deps/src/anitomy
	url = https://github.com/erengy/anitomy.git

[submodule "curl"]
	path = deps/src/curl
	url = https://github.com/curl/curl.git

[submodule "date"]
	path = deps/src/date
	url = https://github.com/HowardHinnant/date.git

[submodule "discord-rpc"]
	path = deps/src/discord-rpc
	url = https://github.com/ungive/discord-rpc.git

[submodule "fmt"]
	path = deps/src/fmt
	url = https://github.com/fmtlib/fmt.git

[submodule "hypp"]
	path = deps/src/hypp
	url = https://github.com/erengy/hypp.git

[submodule "hypr"]
	path = deps/src/hypr
	url = https://github.com/erengy/hypr.git

[submodule "json"]
	path = deps/src/json
	url = https://github.com/nlohmann/json.git

[submodule "monolog"]
	path = deps/src/monolog
	url = https://github.com/erengy/monolog.git

[submodule "nstd"]
	path = deps/src/nstd
	url = https://github.com/erengy/nstd.git

[submodule "random"]
	path = deps/src/random
	url = https://github.com/effolkronium/random.git

[submodule "pugixml"]
	path = deps/src/pugixml
	url = https://github.com/zeux/pugixml.git

[submodule "rapidjson"]
	path = deps/src/rapidjson
	url = https://github.com/Tencent/rapidjson.git

[submodule "semaver"]
	path = deps/src/semaver
	url = https://github.com/erengy/semaver.git

[submodule "utf8proc"]
	path = deps/src/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git

[submodule "windows"]
	path = deps/src/windows
	url = https://github.com/erengy/windows.git

[submodule "zlib"]
	path = deps/src/zlib
	url = https://github.com/madler/zlib.git
