<?xml version="1.0" encoding="UTF-8" ?>
<menus>
	<!-- Main -->
	<menu name="Main" type="menubar">
		<!-- Note: Ignored -->
		<item name="File" sub="File"/>
		<item name="Services" sub="Services"/>
		<item name="Tools" sub="Tools"/>
		<item name="View" sub="View"/>
		<item name="Help" sub="Help"/>
	</menu>
	
	<!-- File -->
	<menu name="File">
		<item name="Library folders" sub="Folders"/>
		<item name="Scan available episodes" action="ScanEpisodesAll()"/>
		<item type="separator"/>
		<item name="Play &amp;next episode&#9;Ctrl+N" action="PlayNext()"/>
		<item name="Play &amp;random anime&#9;Ctrl+R" action="PlayRandomAnime()"/>
		<item type="separator"/>
		<item name="E&amp;xit" action="Exit()"/>
	</menu>
	<!-- Services -->
	<menu name="Services">
		<item name="Synchronize list&#9;Ctrl+S" action="Synchronize()"/>
		<item type="separator"/>
		<item name="AniList" sub="AniList"/>
		<item name="Kitsu" sub="Kitsu"/>
		<item name="MyAnimeList" sub="MyAnimeList"/>
	</menu>
	<!-- AniList -->
	<menu name="AniList">
		<item name="Go to my profile" action="AniListViewProfile()"/>
		<item name="Go to my stats"   action="AniListViewStats()"/>
	</menu>
	<!-- Kitsu -->
	<menu name="Kitsu">
		<item name="Go to my feed"    action="KitsuViewFeed()"/>
		<item name="Go to my library" action="KitsuViewLibrary()"/>
		<item name="Go to my profile" action="KitsuViewProfile()"/>
	</menu>
	<!-- MyAnimeList -->
	<menu name="MyAnimeList">
		<item name="Go to my panel" 	action="MalViewPanel()"/>
		<item name="Go to my profile" action="MalViewProfile()"/>
		<item name="Go to my history" action="MalViewHistory()"/>
	</menu>
	<!-- Share -->
	<menu name="Announce">
		<item name="Discord"   action="AnnounceToDiscord(true)"/>
		<item name="HTTP"      action="AnnounceToHTTP(true)"/>
		<item name="mIRC"      action="AnnounceToMIRC(true)"/>
		<item name="Twitter"   action="AnnounceToTwitter(true)"/>
	</menu>
	<!-- Tools -->
	<menu name="Tools">
		<item name="Export anime list" sub="Export"/>
		<item name="External links" sub="ExternalLinks"/>
		<item type="separator"/>
		<item name="Enable anime recognition"    action="ToggleRecognition()" checked="1"/>
		<item name="Enable auto sharing"         action="ToggleSharing()" checked="1"/>
		<item name="Enable auto synchronization" action="ToggleSynchronization()" checked="1"/>
		<item type="separator"/>
		<item name="Settings" action="Settings()"/>
	</menu>
	<!-- Export -->
	<menu name="Export">
		<item name="Export as Markdown..." action="ExportAsMarkdown"/>
		<item name="Export as MyAnimeList XML..." action="ExportAsMalXml"/>
	</menu>
	<!-- External links -->
	<menu name="ExternalLinks">
		<!-- Note: Overwritten -->-
	</menu>
	<!-- View -->
	<menu name="View">
		<item name="Now Playing" action="ViewContent(0)" radio="1"/>
		<item name="Anime List"  action="ViewContent(2)" radio="1" checked="1"/>
		<item name="History"     action="ViewContent(3)" radio="1"/>
		<item name="Statistics"  action="ViewContent(4)" radio="1"/>
		<item name="Search"      action="ViewContent(6)" radio="1"/>
		<item name="Seasons"     action="ViewContent(7)" radio="1"/>
		<item name="Torrents"    action="ViewContent(8)" radio="1"/>
		<item type="separator"/>
		<item name="Show sidebar" action="ToggleSidebar()" checked="1"/>
	</menu>
	<!-- Folders -->
	<menu name="Folders">
		<!-- Note: Overwritten -->
		<item name="Add new folder..." action="AddFolder()"/>
	</menu>
	<!-- Help -->
	<menu name="Help">
		<item name="About Taiga"   action="About()"/>
		<item name="Donate"        action="URL(https://taiga.moe/#donate)"/>
		<item name="Support&#9;F1" action="URL(https://taiga.moe/#support)"/>
		<item type="separator"/>
		<item name="Check for updates" action="CheckUpdates()"/>
	</menu>
	
	<!-- Search list -->
	<menu name="SearchList">
		<item name="Information" action="Info()" default="1"/>
		<item type="separator"/>
		<item name="Add to list" sub="AddToList" disabled="1"/>
	</menu>
	<menu name="AddToList">
		<item name="Currently watching" action="AddToList(1)"/>
		<item name="Completed"          action="AddToList(2)"/>
		<item name="On hold"            action="AddToList(3)"/>
		<item name="Dropped"            action="AddToList(4)"/>
		<item name="Plan to watch"      action="AddToList(5)"/>
	</menu>
	
	<!-- Right click -->
	<menu name="RightClick">
		<item name="Information" action="Info()"/>
		<item name="Search" sub="Search"/>
		<item type="separator"/>
		<item name="Edit" action="EditAll()"/>
		<item name="&amp;Delete from list...&#9;Del" action="EditDelete()"/>
		<item type="separator"/>
		<item name="Open folder&#9;Ctrl+O" action="OpenFolder()"/>
		<item name="Scan available episodes&#9;F5" action="ScanEpisodes()"/>
		<item type="separator"/>
		<!-- Note: Overwritten -->
		<item name="Play episode"                sub="PlayEpisode"/>
		<item name="Play &amp;last episode"   action="PlayLast()"/>
		<item name="Play &amp;next episode"   action="PlayNext()"/>
		<item name="Play &amp;random episode" action="PlayRandom()"/>
		<item name="Start new rewatch"        action="StartNewRewatch()"/>
	</menu>
	<!-- Edit -->
	<menu name="Edit">
		<item name="Set &amp;date started"   sub="EditDateStarted"/>
		<item name="Set date &amp;completed" sub="EditDateCompleted"/>
		<item name="Set &amp;episode..."  action="EditEpisode()"/>
		<item name="Set sco&amp;re"          sub="EditScore"/>
		<item name="Set &amp;status"         sub="EditStatus"/>
		<item name="Set &amp;notes..."    action="EditNotes"/>
		<item type="separator"/>
		<item name="In&amp;vert selection" action="InvertSelection"/>
		<item type="separator"/>
		<item name="Delete from &amp;list...&#9;Del" action="EditDelete()"/>
	</menu>
	<!-- Date started -->
	<menu name="EditDateStarted">
		<item name="Clear" action="EditDateClear(0)"/>
		<item name="Set to date started airing" action="EditDateToStartedAiring()"/>
	</menu>
	<!-- Date completed -->
	<menu name="EditDateCompleted">
		<item name="Clear" action="EditDateClear(1)"/>
		<item name="Set to date finished airing" action="EditDateToFinishedAiring()"/>
		<item name="Set to last updated" action="EditDateToLastUpdated()"/>
	</menu>
	<!-- Score -->
	<menu name="EditScore">
		<!-- Note: Overwritten -->
		<item name="(0) No Score"     action="EditScore(0)"   radio="1"/>
		<item name="(1) Appalling"    action="EditScore(10)"  radio="1"/>
		<item name="(2) Horrible"     action="EditScore(20)"  radio="1"/>
		<item name="(3) Very Bad"     action="EditScore(30)"  radio="1"/>
		<item name="(4) Bad"          action="EditScore(40)"  radio="1"/>
		<item name="(5) Average"      action="EditScore(50)"  radio="1"/>
		<item name="(6) Fine"         action="EditScore(60)"  radio="1"/>
		<item name="(7) Good"         action="EditScore(70)"  radio="1"/>
		<item name="(8) Very Good"    action="EditScore(80)"  radio="1"/>
		<item name="(9) Great"        action="EditScore(90)"  radio="1"/>
		<item name="(10) Masterpiece" action="EditScore(100)" radio="1"/>
	</menu>
	<!-- Status -->
	<menu name="EditStatus">
		<item name="Currently watching" action="EditStatus(1)" radio="1"/>
		<item name="Completed"          action="EditStatus(2)" radio="1"/>
		<item name="On hold"            action="EditStatus(3)" radio="1"/>
		<item name="Dropped"            action="EditStatus(4)" radio="1"/>
		<item name="Plan to watch"      action="EditStatus(5)" radio="1"/>
	</menu>
	<!-- Search -->
	<menu name="Search">
		<!-- Note: Use %title% as the search string -->
		<item name="AniDB"              action="URL(https://anidb.net/perl-bin/animedb.pl?show=animelist&amp;adb.search=%title%&amp;noalias=1&amp;do.update=update)"/>
		<item name="AniList"            action="URL(https://anilist.co/search/anime?sort=SEARCH_MATCH&amp;search=%title%)"/>
		<item name="Anime News Network" action="URL(https://www.animenewsnetwork.com/search?q=%title%)"/>
		<item name="Kitsu"              action="URL(https://kitsu.io/anime?text=%title%)"/>
		<item name="MyAnimeList"        action="URL(https://myanimelist.net/anime.php?q=%title%)"/>
		<item name="Reddit"             action="URL(https://www.reddit.com/search?sort=new&amp;q=subreddit%3Aanime%20title%3A%title%%20episode%20discussion)"/>
		<item name="Wikipedia"          action="URL(https://en.wikipedia.org/wiki/Special:Search?search=%title%)"/>
		<item name="YouTube"            action="URL(https://www.youtube.com/results?search_query=%title%)"/>
		<item type="separator"/>
		<item name="Custom RSS feed" action="SearchTorrents()"/>
		<item name="Nyaa.si" action="SearchTorrents(https://nyaa.si/?page=rss&amp;c=1_2&amp;f=0&amp;q=%title%)"/>
	</menu>
	<!-- Play episode -->
	<menu name="PlayEpisode">
		<!-- Note: Overwritten -->
		<item name="#1" action="PlayEpisode(1)"/>
	</menu>
	<!-- Anime list headers -->
	<menu name="AnimeListHeaders">
		<item name="Average score" action="anime_average_rating" checked="1"/>
		<item name="Season" action="anime_season" checked="1"/>
		<item name="Type" action="anime_type" checked="1"/>
		<item type="separator"/>
		<item name="Date started" action="user_date_started" checked="1"/>
		<item name="Date completed" action="user_date_completed" checked="1"/>
		<item name="Last updated" action="user_last_updated" checked="1"/>
		<item name="Progress" action="user_progress" checked="1"/>
		<item name="Score" action="user_rating" checked="1"/>
		<item name="Notes" action="user_notes" checked="1"/>
		<item type="separator"/>
		<item name="Reset to defaults" action="ResetAnimeListHeaders()"/>
	</menu>
	
	<!-- Tray -->
	<menu name="Tray">
		<item name="Open Taiga" action="MainDialog()" default="1"/>
		<item type="separator"/>
		<item name="Folders" sub="Folders"/>
		<item name="Services" sub="Services"/>
		<item name="External links" sub="ExternalLinks"/>
		<item type="separator"/>
		<item name="Settings" action="Settings()"/>
		<item type="separator"/>
		<item name="Exit" action="Exit()"/>
	</menu>
	
	<!-- History list menu -->
	<menu name="HistoryList">
		<item name="Information" action="Info()" default="1"/>
		<item name="Delete&#9;Del" action="Delete()"/>
		<item type="separator"/>
		<item name="Clear history..." action="ClearHistory()"/>
		<item name="Clear queue..." action="ClearQueue()"/>
	</menu>
	
	<!-- Season browser -->
	<menu name="SeasonSelect">
		<!-- Note: Overwritten -->
	</menu>
	<menu name="SeasonGroup">
		<item name="Airing status" action="Season_GroupBy(0)" radio="1"/>
		<item name="List status"   action="Season_GroupBy(1)" radio="1"/>
		<item name="Type"          action="Season_GroupBy(2)" radio="1"/>
	</menu>
	<menu name="SeasonSort">
		<item name="Airing date" action="Season_SortBy(0)" radio="1"/>
		<item name="Episodes"    action="Season_SortBy(1)" radio="1"/>
		<item name="Popularity"  action="Season_SortBy(2)" radio="1"/>
		<item name="Score"       action="Season_SortBy(3)" radio="1"/>
		<item name="Title"       action="Season_SortBy(4)" radio="1"/>
	</menu>
	<menu name="SeasonView">
		<item name="Images"  action="Season_ViewAs(0)" radio="1"/>
		<item name="Details" action="Season_ViewAs(1)" radio="1"/>
	</menu>
	
	<!-- Season list -->
	<menu name="SeasonList">
		<item name="Information" action="Info()" default="1"/>
		<item name="Go to the web page" action="ViewAnimePage()"/>
		<item name="Watch trailer" action="WatchTrailer()" disabled="1"/>
		<item type="separator"/>
		<item name="Refresh data" action="Season_RefreshItemData()"/>
		<item type="separator"/>
		<item name="Add to list" sub="AddToList" disabled="1"/>
	</menu>
	
	<!-- Torrent list right click -->
	<menu name="TorrentListRightClick">
		<item name="Download torrent" action="DownloadTorrent" default="1"/>
		<item name="View anime information" action="Info"/>
		<item name="View torrent information" action="TorrentInfo"/>
		<item type="separator"/>
		<item name="Discard" action="DiscardTorrent"/>
		<item name="Quick filters" sub="QuickFilters"/>
		<item type="separator"/>
		<item name="Search for more torrents with this title" action="MoreTorrents"/>
		<item name="Search for anime with this title" action="SearchService"/>
	</menu>
	<menu name="QuickFilters">
		<item name="Discard all torrents for this anime" action="DiscardTorrents"/>
		<item name="Select this fansub group for this anime" action="SelectFansub"/>
	</menu>
	
	<!-- Script functions and variables -->
	<menu name="ScriptAdd">
		<item name="Character" sub="ScriptAddCharacter"/>
		<item name="Function"  sub="ScriptAddFunction"/>
		<item name="Variable"  sub="ScriptAddVariable"/>
	</menu>
	<menu name="ScriptAddCharacter">
		<item name="IRC characters" sub="IRCCharacters"/>
		<item name="New line (\n)"       action="\n"/>
		<item name="Horizontal tab (\t)" action="\t"/>
	</menu>
	<menu name="IRCCharacters">
		<item name="Bold" action="&#2;"/>
		<item name="Color" sub="IRCColors"/>
		<item name="Italic" action="&#29;"/>
		<item name="Reverse" action="&#22;"/>
		<item name="Underline" action="&#31;"/>
		<item type="separator"/>
		<item name="Disable all" action="&#15;"/>
	</menu>
	<menu name="IRCColors">
		<item name="00 - White"       action="&#3;00"/>
		<item name="01 - Black"       action="&#3;01"/>
		<item name="02 - Blue"        action="&#3;02"/>
		<item name="03 - Green"       action="&#3;03"/>
		<item name="04 - Light red"   action="&#3;04"/>
		<item name="05 - Brown"       action="&#3;05"/>
		<item name="06 - Purple"      action="&#3;06"/>
		<item name="07 - Orange"      action="&#3;07"/>
		<item name="08 - Yellow"      action="&#3;08"/>
		<item name="09 - Light green" action="&#3;09"/>
		<item name="10 - Cyan"        action="&#3;10"/>
		<item name="11 - Light cyan"  action="&#3;11"/>
		<item name="12 - Light blue"  action="&#3;12"/>
		<item name="13 - Pink"        action="&#3;13"/>
		<item name="14 - Grey"        action="&#3;14"/>
		<item name="15 - Light grey"  action="&#3;15"/>
	</menu>
	<menu name="ScriptAddFunction">
		<item name="and()"     action="$and(x,y)"/>
		<item name="cut()"     action="$cut(string,len)"/>
		<item name="equal()"   action="$equal(x,y)"/>
		<item name="gequal()"  action="$gequal(x,y)"/>
		<item name="greater()" action="$greater(x,y)"/>
		<item name="if()"      action="$if(cond,then,else)"/>
		<item name="if2()"     action="$if(a,else)"/>
		<item name="ifequal()" action="$ifequal(n1,n2,then,else)"/>
		<item name="lequal()"  action="$lequal(x,y)"/>
		<item name="len()"     action="$len(string)"/>
		<item name="less()"    action="$less(x,y)"/>
		<item name="lower()"   action="$lower(string)"/>
		<item name="not()"     action="$not(x)"/>
		<item name="num()"     action="$num(n,len)"/>
		<item name="or()"      action="$or(x,y)"/>
		<item name="pad()"     action="$pad(s,len,chars)"/>
		<item name="replace()" action="$replace(a,b,c)"/>
		<item name="substr()"  action="$substr(s,pos,n)"/>
		<item name="triml()"   action="$triml(s,c)"/>
		<item name="trimr()"   action="$trimr(s,c)"/>
		<item name="upper()"   action="$upper(string)"/>
	</menu>
	<menu name="ScriptAddVariable">
		<item name="Anime ID"         action="%id%"/>
		<item name="Anime title"      action="%title%"/>
		<item name="Anime season"     action="%season%"/>
		<item name="Anime URL"        action="%animeurl%"/>
		<item name="Image URL"        action="%image%"/>
		<item name="Total episodes"   action="%total%"/>
		<item type="separator"/>
		<item name="Watched episodes" action="%watched%"/>
		<item name="Score"            action="%score%"/>
		<item name="Watching status"  action="%status%"/>
		<item name="Rewatching"       action="%rewatching%"/>
		<item name="Notes"            action="%notes%"/>
		<item type="separator"/>
		<item name="Filename"         action="%file%"/>
		<item name="Episode number"   action="%episode%"/>
		<item name="Episode title"    action="%name%"/>
		<item name="Release group"    action="%group%"/>
		<item name="Release version"  action="%version%"/>
		<item name="Audio terms"      action="%audio%"/>
		<item name="Video resolution" action="%resolution%"/>
		<item name="Video terms"      action="%video%"/>
		<item name="Checksum"         action="%checksum%"/>
		<item type="separator"/>
		<item name="Folder"           action="%folder%"/>
		<item name="Manual"           action="%manual%"/>
		<item name="Play status"      action="%playstatus%"/>
		<item name="Username"         action="%user%"/>
	</menu>
</menus>
