FORMAT: 1A
HOST: https://kitsu.io/api/edge

# Kitsu API Docs

Kitsu is a modern anime discovery platform that helps you track the
anime you're watching, discover new anime and socialize with other
fans.

With the Kitsu API you can do everything the client can do and much
more.

Base API path: `https://kitsu.io/api/edge`

<!-- # Versioning

Every year, we release a new version of the API, numbered by the
last two digits of the current year. For example, the root URL of
this (the 2017) release is `https://kitsu.io/api/17/`.

No fields, endpoints, or resources will be removed until the next
year's release, but may be changed to return empty values (arrays,
empty strings, etc.) before then. Fields, endpoints, and resources
may be added throughout the lifetime of a release.

In addition to these versioned APIs, there is access to the same API
our website uses. However, this offers no guarantees: anything could
change at any time. We suggest you don't use this, but if you need
to, it can be accessed at `https://kitsu.io/api/edge/`.

## Life Cycle

Upon release of a new version, the previous version will be
maintained for one year or until usage drops below 2% of API
traffic.

During this period, it will not be updated to have any new fields,
endpoints, or resources. You are expected to keep your applications
running on the latest version of the API. For most applications,
upgrading should take no more than a few hours of work.
-->
# JSON:API

The Kitsu API implements the [JSON:API specification][jsonapi]. This means
there are some notable semantics to how you consume it, but
understanding it will take a lot of the work of using it out of your
hands.

These docs will include a short overview of the capabilities, but
you can consult the [JSON:API Specification][jsonapi] for more
information.

You can be more specific about the data you want to retrieve by
using URL parameters and are outlined below.

**Note:** This documentation will display parameters with brackets
(`[` and `]`) for readability, but actual URLs will need to be
percent-encoded (`%5B` and `%5D`).

## Request Headers

As per the JSON:API specification, all requests to the API should
contain these headers:

```
Accept: application/vnd.api+json
Content-Type: application/vnd.api+json
```

## Filtering and Search

Filtering lets you query data that contains certain matching
attributes or relationships. These take the form of
`filter[attribute]=value`. For example, you can request all the
anime of the Adventure category:

```
/anime?filter[categories]=adventure
```

For some models, you can also search based on the query text:

```
/anime?filter[text]=cowboy%20bebop
```

## Pagination

You can choose how much of a resource to receive by specifying
pagination parameters. Pagination is supported via `limit` and
`offset`. Resources are paginated in groups of `10` by default and can be
increased to a maximum of `20`.

`/anime?page[limit]=5&page[offset]=0`

The response will include URLs for the first, next and last page of
resources in the `links` object based on your request.

```
"links": {
    "first": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=0",
    "next": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=5",
    "last": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=12062"
}
```

## Sorting

Sorting by attributes is also supported. By default, sorts are
applied in ascending order. You can request a descending order by
prepending `-` to the parameter. You can use a comma-delimited list
to sort by multiple attributes.

`/users?sort=-followersCount,-followingCount`

## Includes

You can include related resources with `include=[relationship]`.
You can also specify successive relationships using a `.`. A
comma-delimited list can be used to request multiple relationships.

`/anime?include=categories,mediaRelationships.destination`

## Sparse Fieldsets

You can request a resource to only return a specific set of fields
in its response. For example, to only receive a user's name and
creation date:

`/users?fields[users]=name,createdAt`

## Client Implementations

JSON:API has a great advantage in that since its standardised,
API-agnostic tools can be made to abstract away the semantics of
consuming and working with the data. It is recommended that you use
a JSON:API client to implement the Kitsu API for this reason.

Many implementations in over 13 languages can be found on the
[JSON:API website][jsonapi-client].
# Authentication

Kitsu uses OAuth 2 for authentication.
Authentication is not required for most public-facing `GET` endpoints.

It is advised to use an OAuth2 client for the language you're using, however it is not required.

**NOTE:** NSFW/R18 content (feed posts, media, categories etc.) are hidden for all unauthenticated requests and for accounts that have NSFW content disabled in their settings.

Base OAuth2 path: `https://kitsu.io/api/oauth`

## Request Headers

OAuth does not use the JSON:API headers, instead one of the following headers are required:

| Header       | json               | x-www-form-urlencoded
| ------------ | ------------------ | ---------------------
| Content-Type | application/json   | application/x-www-form-urlencoded

## App Registration

After registering your app, you will receieve a client ID and a client secret. 
The client ID is considered public information and is used to build login URLs or included in source code. 
The client secret **must** be kept confidential.

**NOTE:** Application registration has not yet been implemented. 
For now, `client_id` and `client_secret` can be omitted, provided as empty strings or with the following:

```
CLIENT_ID: dd031b32d2f56c990b1425efe6c42ad847e7fe3ab46bf1299f05ecd856bdb7dd
CLIENT_SECRET: 54d7307928f63414defd96399fc31ba847961ceaecef3a5fd93144e960c0e151
```

## Grant Types

OAuth 2 provides several grant types for different use cases. 
The grant types defined are:

- **Authorization Code** for apps running on a web server,
browser-based and mobile apps (not yet implemented)
- **Password** for logging in with a username and Password
- **Client Credentials** for application access (not yet implemented)

## Obtaining an Access Token

### Password Grant

Send a `POST` request to `https://kitsu.io/api/oauth/token` with the following body:

#### application/json

```json5
{
  grant_type: 'password',
  username: '<email|slug>',
  password: '<password>' // RFC3986 URl encoded string
}
```

#### application/x-www-form-urlencoded

```
grant_type=password&username=<email|slug>&password=<password>
```

**IMPORTANT**: If you use `x-www-form-urlencoded`, you **must** URL encode the password field using the [RFC3986 encoding scheme](http://whatwebwhat.com/en/page/350/oauth-and-url-encoding).

## Refreshing an Access Token

Send a `POST` request to `https://kitsu.io/api/oauth/token` with the following body:

**NOTE:** If the token was issued using a `client_secret` then the `client_id` and `client_secret` parameters must be provided.

#### application/json

```json5
{
  grant_type: 'refresh_token',
  refresh_token: '<refresh_token>'
}
```

#### application/x-www-form-urlencoded

```
grant_type=refresh_token&refresh_token=<refresh_token>
```

## Using an Access Token

Once you've obtained the `access_token` using one of the grant types, you can add the following header to all API requests:

```
Authorization: Bearer <access_token>
```


## Access Token Responses

### Successful Response

If the request for an access token is valid, the server will respond with the following data:

```json5
{
  access_token: 'abc123', // Token used in Authorization header
  created_at: 1518235801,
  expires_in: 2591963, // Seconds until the access_token expires (30 days default)
  refresh_token: '123abc', // Token used to get a new access_token
  scope: 'public',
  token_type: 'bearer'
}
```

### Unsuccessful Response

If the access token request is invalid, the server will respond with one of six errors in the following format:

```json5
{
  error: 'invalid_request',
  error_description: '<reason_why>'
}
```

These six errors are:

| Error                    | Status | Explanation
| ------------------------ | ------ | -----------
| `invalid_request`        | `400`  | The request is missing a parameter, uses an unsupported parameter or repeats a parameter.
| `invalid_client`         | `401`  | The request contains an invalid client ID or secret.
| `invalid_grant`          | `400`  | The authorization code (or password with the password grant) is invalid or expired.
| `invalid_scope`          | `400`  | The request contains an invalid scope (password or client credential grants).
| `unauthorized_client`    | `400`  | The client is not authorized to use the requested grant type.
| `unsupported_grant_type` | `400`  | The grant type requested is not recognized by the server.
# HTTP Methods

Method   | Description
-------- | -----------
`GET`    | Fetch - retrieve resources
`POST`   | Create - create new resources
`PATCH`  | Update - (partially) modify existing resources
`DELETE` | Delete - remove resources
# Status Codes

Code  | Description
----- | -----------
`200` | OK - request succeeded (GET, PATCH, DELETE)
`201` | Created - new resource created (POST)
`204` | No Content - request succeeded (DELETE)
`400` | Bad Request - malformed request
`401` | Unauthorized - invalid or no authentication details provided
`404` | Not Found - resource does not exist
`406` | Not Acceptable - invalid `Accept` header
`5xx` | Server Error
# 3rd Party Tutorials

- [You and your Kitsu Anime library](https://github.com/pheyvaer/kitsu-tutorial/blob/master/index.md)
# Questions?

If you have any questions you can:
- Join our [Discord server][discord] (recommended)
- Ping [@wopian][wopian], [@matthewdias][matthewdias] or [@nuck][nuck] on Kitsu.

[jsonapi]:http://jsonapi.org/format/
[jsonapi-client]:http://jsonapi.org/implementations/#client-libraries
[wopian]:https://kitsu.io/users/wopian
[matthewdias]:https://kitsu.io/users/matthewdias
[nuck]:https://kitsu.io/users/nuck
[discord]:https://invite.gg/kitsu

# Group Anime

## Anime [/anime/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`season` | `winter`, `spring`, `summer`, `fall`
`seasonYear` | `2017`, `2005,2006`
`streamers` | `Crunchyroll`
`ageRating` | `G`, `PG,R,R18`

+ Parameters
    + id (number, `1`) - ID of the anime resource

+ Attributes (animeAttributes)

### Fetch Collection [GET /anime]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (anime)
        + meta (object, required)
            + count: 13797 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=13787`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (anime)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Episodes [/episodes/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`mediaId` | | **DEPRECATED** - use `anime_id`, `manga_id` or `drama_id`
`mediaType` | `anime`, `anime,manga` | **DEPRECATED** - use `kind`
`number` |

+ Parameters
    + id (number, `28`) - ID of the episode resource

+ Attributes (episodesAttributes)

### Fetch Collection [GET /episodes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (episodes)
        + meta (object, required)
            + count: 212384 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/episodes?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/episodes?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/episodes?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/episodes?page%5Blimit%5D=10&page%5Boffset%5D=212374`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (episodes)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Trending Anime [/trending/anime]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

### Fetch Collection [GET /trending/anime]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (anime)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Manga

## Manga [/manga/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`chapterCount` |

+ Parameters
    + id (number, `14916`) - ID of the manga resource

+ Attributes (mangaAttributes)

### Fetch Collection [GET /manga]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (manga)
        + meta (object, required)
            + count: 40278 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=40268`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (manga)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Chapters [/chapters/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`mangaId` | `2`, `8,987`
`number` |

+ Parameters
    + id (number, `403830`) - ID of the chapter resource

+ Attributes (chaptersAttributes)

### Fetch Collection [GET /chapters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (chapters)
        + meta (object, required)
            + count: 652186 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/chapters?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/chapters?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/chapters?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/chapters?page%5Blimit%5D=10&page%5Boffset%5D=652176`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (chapters)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Trending Manga [/trending/manga]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

### Fetch Collection [GET /trending/manga]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (manga)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Categories 

## Categories [/categories/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`parentId` | `1`
`slug` | |
`nsfw` | `true`, `false`

**Pagination**

The maximum page limit is unlimited for this resource.

+ Parameters
    + id (number, `10`) - ID of the category resource

+ Attributes (categoriesAttributes)

### Fetch Collection [GET /categories]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (categories)
        + meta (object, required)
            + count: 229 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=219`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (categories)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Category Favorites [/category-favorites/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`
`categoryId` |

+ Parameters
    + id (number, `2`) - ID of the category favorite resource

+ Attributes (categoryFavoritesAttributes)

### Fetch Collection [GET /category-favorites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (categoryFavorites)
        + meta (object, required)
            + count: 3018 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=3008`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (categoryFavorites)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /category-favorites]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Category Recommendations [/category-recommendations/{id}]

+ Parameters
    + id (number, `1`) - ID of the category recommendation resource

# Group Media Relations

## Media Relationships [/media-relationships/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`role` | | Values of the `role` attribute
`sourceType` |
`sourceId` |
`destinationId` |

+ Parameters
    + id (number, `1`) - ID of the media relationship resource

+ Attributes (mediaRelationshipsAttributes)

### Fetch Collection [GET /media-relationships]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaRelationships)
        + meta (object, required)
            + count: 19573 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=19563`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaRelationships)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Mappings [/mappings/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`externalSite` | `myanimelist/anime`
`externalId` |

+ Parameters
    + id (number, `1`) - ID of the mapping resource

+ Attributes (mappingsAttributes)

### Fetch Collection [GET /mappings]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mappings)
        + meta (object, required)
            + count: 67654 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=67644`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mappings)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Franchises [/franchises/{id}]

**Status**: Deprecated. Use `media-relationships` instead.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

+ Parameters
    + id (number, `1`) - ID of the franchise resource

+ Attributes (franchisesAttributes)

### Fetch Collection [GET /franchises]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (franchises)
        + meta (object, required)
            + count: 1332 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=1322`


+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (franchises)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Installments [/installments/{id}]

**Status**: Deprecated. Use `media-relationships` instead.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`mediaType` | `anime`, `anime,manga` | **DEPRECATED** - use `kind`
`mediaId` | | **DEPRECATED** - use `anime_id`, `manga_id` or `drama_id`

+ Parameters
    + id (number, `1`) - ID of the installment resource

+ Attributes (installmentsAttributes)

### Fetch Collection [GET /installments]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (installments)
        + meta (object, required)
            + count: 5903 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=5893`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (installments)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Media Follows

## Media Follows [/media-follows/{id}]

+ Parameters
    + id (number, `1`) - ID of the media follow resource

### Fetch Collection [GET /media-follows]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaFollows)
        + meta (object, required)
            + count: 10256 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=10246`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaFollows)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /media-follows]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Media Attributes [/media-attributes/{id}]

**Status**: In development.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`slug` | |

**Pagination**

The maximum page limit is unlimited for this resource.

+ Parameters
    + id (number, `1`) - ID of the media attribute resource

+ Attributes (mediaAttributesAttributes)

### Fetch Collection [GET /media-attributes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaAttributes)
        + meta (object, required)
            + count: 0 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-attributes?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-attributes?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-attributes?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-attributes?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaAttributes)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Media Attribute Votes [/media-attribute-votes/{id}]

**Status**: In development.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`createdAt` |
`userId` | `42603`, `2,7`
`mediaId` | | **DEPRECATED** - use `anime_id`, `manga_id` or `drama_id`

+ Parameters
    + id (number, `1`) - ID of the media attribute vote resource

+ Attributes (mediaAttributeVotesAttributes)

### Fetch Collection [GET /media-attribute-votes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaAttributeVotes)
        + meta (object, required)
            + count: 0 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-attribute-votes?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-attribute-votes?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-attribute-votes?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-attribute-votes?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaAttributeVotes)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /media-attribute-votes]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Streamers

## Streamers [/streamers/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

**Pagination**

The maximum page limit is unlimited for this resource.

+ Parameters
    + id (number, `1`) - ID of the streamer resource

+ Attributes (streamersAttributes)

### Fetch Collection [GET /streamers]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (streamers)
        + meta (object, required)
            + count: 6 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (streamers)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Streaming Links [/streaming-links/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

+ Parameters
    + id (number, `1`) - ID of the streaming link resource

+ Attributes (streamingLinksAttributes)

### Fetch Collection [GET /streaming-links]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (streamingLinks)
        + meta (object, required)
            + count: 2076 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=2066`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (streamingLinks)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Users

## Blocks [/blocks/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | N   | N    | N     | N
Yes           | None      | Y   | Y    | N     | Y
Yes           | Admin     | N   | N    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`user` |

+ Parameters
    + id (number, `1`) - ID of the block resource

+ Attributes (blocksAttributes)

### Fetch Collection [GET /blocks]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (blocks)
        + meta (object, required)
            + count: 1 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/blocks?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/blocks?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/blocks?page%5Blimit%5D=10&page%5Boffset%5D=1` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/blocks?page%5Blimit%5D=10&page%5Boffset%5D=1`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (blocks)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /blocks]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Favorites [/favorites/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`
`itemType` | `Media`, `Character`, `Person`
`itemId` |

+ Parameters
    + id (number, `1`) - ID of the favorite resource

+ Attributes (favoritesAttributes)

### Fetch Collection [GET /favorites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (favorites)
        + meta (object, required)
            + count: 493326 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=493316`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (favorites)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /favorites]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Follows [/follows/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`follower` |
`followed` |

+ Parameters
    + id (number, `3`) - ID of the follow resource

+ Attributes (followsAttributes)

### Fetch Collection [GET /follows]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (follows)
        + meta (object, required)
            + count: 392871 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=392861`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (follows)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /follows]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Linked Accounts [/linked-accounts/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | N   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | N   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`

+ Parameters
    + id (number, `1911`) - ID of the linked account resource

+ Attributes (linkedAccountsAttributes)

### Fetch Collection [GET /linked-accounts]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (linkedAccounts)
        + meta (object, required)
            + count: 1 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=1` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/follows?page%5Blimit%5D=10&page%5Boffset%5D=1`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (linkedAccounts)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /linked-accounts]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Profile Link Sites [/profile-link-sites/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

**Pagination**

The maximum page limit is unlimited for this resource.

+ Parameters
    + id (number, `1`) - ID of the profile link site resource

+ Attributes (profileLinkSitesAttributes)

### Fetch Collection [GET /profile-link-sites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (profileLinkSites)
        + meta (object, required)
            + count: 29 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=19`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (profileLinkSites)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Profile Links [/profile-links/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

+ Parameters
    + id (number, `1`) - ID of the profile link resource

+ Attributes (profileLinksAttributes)

### Fetch Collection [GET /profile-links]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (profileLinks)
        + meta (object, required)
            + count: 14827 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=14817`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (profileLinks)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /profile-links]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Roles [/roles/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

+ Parameters
    + id (number, `1`) - ID of the role resource

+ Attributes (rolesAttributes)

### Fetch Collection [GET /roles]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (roles)
        + meta (object, required)
            + count: 9 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (roles)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /roles]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Stats [/stats/{id}]

**Status**: In development.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`

+ Parameters
    + id (number, `587798`) - ID of the stat resource

+ Attributes (statsAttributes)

### Fetch Collection [GET /stats]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (stats)
        + meta (object, required)
            + count: 570652 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/stats?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/stats?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/stats?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/stats?page%5Blimit%5D=10&page%5Boffset%5D=570642`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (stats)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## User Roles [/user-roles/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | Y    | N     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----

+ Parameters
    + id (number, `1`) - ID of the user role resource

+ Attributes (userRolesAttributes)

### Fetch Collection [GET /user-roles]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (userRoles)
        + meta (object, required)
            + count: 115 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=105`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (userRoles)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /user-roles]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Users [/users/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | Y    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | Y    | Y     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`slug` | | Get a user by slug (case insensitive)
`name` | | Get a user by display name (non-unique)
`self` | `true` | Get the currently logged in user
`query` | | Search resource

+ Parameters
    + id (number, `1`) - ID of the user resource

+ Attributes (usersAttributes)

### Fetch Collection [GET /users]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (users)
        + meta (object, required)
            + count: 155476 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/users?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/users?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/users?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/users?page%5Blimit%5D=10&page%5Boffset%5D=155466`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (users)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /users]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group User Libraries

## Library Entries [/library-entries/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y*  | N    | N     | N
Yes           | None      | Y*† | Y    | Y     | Y
Yes           | Admin     | Y*  | N    | N     | N

\* Resources with `private: true` are not accessible, unless
authenticated as the user associated with the library entry

† Adult content will only be shown if enabled in the authenticated
user's settings

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`animeId` | `1`, `43,2,300`
`dramaId` |
`following` |
`kind` | `anime`, `anime,manga` | Filter by the related media type
`mangaId` | `2`, `8,987`
`mediaId` | | **DEPRECATED** - use `anime_id`, `manga_id` or `drama_id`
`mediaType` | `anime`, `anime,manga` | **DEPRECATED** - use `kind`
`since` | `2017-01-28`, `2013-03-25T00:00:00.000Z` | Returns entries updated since the supplied ISO 8601 date
`status` | `current`, `onHold` | Values of the `status` attribute
`title` | | Search resource
`userId` | `42603`, `2,7`

**Pagination**

The maximum page limit is `500` for this resource.

+ Parameters
    + id (number, `1644`) - ID of the library entry resource

+ Attributes (libraryEntriesAttributes)

### Fetch Collection [GET /library-entries]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (libraryEntries)
        + meta (object, required)
            + statusCounts (object)
                + current: 102 (number)
                + planned: 346 (number)
                + completed: 266 (number)
                + onHold: 130 (number)
                + dropped: 3 (number)
            + count: 0 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/library-entries?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/library-entries?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/library-entries?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/library-entries?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (libraryEntries)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /library-entries]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Library Entry Logs [/library-entry-logs/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`linkedAccountId` |
`syncStatus` | `pending`, `success`, `error`

**Pagination**

The maximum page limit is unlimited for this resource.

+ Parameters
    + id (number, `917564`) - ID of the library entry log resource

+ Attributes (libraryEntryLogsAttributes)

### Fetch Collection [GET /library-entry-logs]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (libraryEntryLogs)
        + meta (object, required)
            + count: 159818 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/library-entry-logs?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/library-entry-logs?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/library-entry-logs?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/library-entry-logs?page%5Blimit%5D=10&page%5Boffset%5D=159808`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (libraryEntryLogs)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /library-entry-logs]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Library Events [/library-events/{id}]

**Status**: In development.

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | N    | N     | N
Yes           | Admin     | Y   | N    | N     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`
`createdAt` |

+ Parameters
    + id (number, `1`) - ID of the library event resource

+ Attributes (libraryEventsAttributes)

### Fetch Collection [GET /library-events]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (libraryEvents)
        + meta (object, required)
            + count: 0 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/library-events?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/library-events?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/library-events?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/library-events?page%5Blimit%5D=10&page%5Boffset%5D=0`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (libraryEvents)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## List Imports [/list-imports/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | N   | N    | N     | N
Yes           | None      | Y   | Y    | N     | N
Yes           | Admin     | N   | Y    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`userId` | `42603`, `2,7`

+ Parameters
    + id (number, `8665`) - ID of the list import resource

+ Attributes (listImportsAttributes)

### Fetch Collection [GET /list-imports]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (listImports)
        + meta (object, required)
            + count: 2 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/list-imports?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/list-imports?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/list-imports?page%5Blimit%5D=10&page%5Boffset%5D=2` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/list-imports?page%5Blimit%5D=10&page%5Boffset%5D=2`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (listImports)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /list-imports]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

# Group Reactions

## Media Reaction Votes [/media-reaction-votes/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | N     | Y
Yes           | Admin     | Y   | N    | N     | N

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`mediaReactionId` | `1`, `24334`
`userId` | `42603`, `2,7`

+ Parameters
    + id (number, `1`) - ID of the media reaction vote resource

+ Attributes (mediaReactionVotesAttributes)

### Fetch Collection [GET /media-reaction-votes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaReactionVotes)
        + meta (object, required)
            + count: 16647 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-reaction-votes?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-reaction-votes?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-reaction-votes?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-reaction-votes?page%5Blimit%5D=10&page%5Boffset%5D=16637`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Fetch Resource [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaReactionVotes)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Create Resource [POST /media-reaction-votes]

+ Request (application/vnd.api+json)

+ Response 201 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Update Resource [PATCH]

+ Request (application/vnd.api+json)

+ Response 200 (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 403 (application/vnd.api+json)
    + Attributes (Error403)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 409 (application/vnd.api+json)
    + Attributes (Error409)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)

### Delete Resource [DELETE]

+ Request (application/vnd.api+json)

+ Response 202 (application/vnd.api+json)

+ Response 204 (application/vnd.api+json)

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 401 (application/vnd.api+json)
    + Attributes (Error401)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

+ Response 500 (application/vnd.api+json)
    + Attributes (Error500)
## Media Reactions [/media-reactions/{id}]

**Authorisation**

Authenticated | Role      | GET | POST | PATCH | DELETE
------------: | --------: | :-: | :--: | :---: | :----:
No            | None      | Y   | N    | N     | N
Yes           | None      | Y   | Y    | Y     | Y
Yes           | Admin     | Y   | N    | N     | Y

**Filters**

Filters can be used in `camelCase` or `snake_case` format. See  [Introduction/JSON:API/filtering-and-search]*https://kitsu.docs.apiary.io/#introduction/json-api/filtering-and-search) for usage documentation

Filter | Example | Notes
-----: | :------ | :----
`createdAt` |
`upVotesCount` | `2`, `7`
`userId` | `42603`, `2,7`
`animeId` | `1`, `43,2,300`
`dramaId` |
`mangaId` | `2`, `8,987`
`mediaType` | `anime`, `anime,manga` | **DEPRECATED** - use `kind`

+ Parameters
    + id (number, `4`) - ID of the media reaction resource

+ Attributes (mediaReactionsAttributes)

### Fetch Collection [GET /media-reactions]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaReactions)
        + meta (object, required)
            + count: 24334 (number, required)
        + links (object)
            + first: `https://kitsu.io/api/edge/media-reactions?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + prev: `https://kitsu.io/api/edge/media-reactions?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-reactions?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-reactions?page%5Blimit%5D=10&page%5Boffset%5D=24324`

+ Response 400 (application/vnd.api+json)
    + Attributes (Error400)

+ Response 404 (application/vnd.api+json)
    + Attributes (Error404)

[...]
